@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  @apply text-gray-700;
}

.button {
  @apply flex items-center justify-center shadow-md rounded-lg hover:shadow-xl focus:shadow-xl ease-linear transition-shadow duration-150 focus:outline-none;
}
