@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  @apply text-gray-700;
}

.button {
  @apply font-medium text-sm px-4 py-2.5 shadow-sm rounded-lg hover:shadow-lg focus:shadow-lg ease-linear transition-shadow duration-150 focus:outline-none;
}

.button-small {
  @apply font-medium text-sm px-3 py-1.5 shadow-sm rounded-lg hover:shadow-lg focus:shadow-lg ease-linear transition-shadow duration-150 focus:outline-none;
}
